<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "my_pic_with_niki.png", size: "150x350" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Nithin Bharadhwaj</h1>
    <p>Welcome to my blog.</p>
    <p>This week I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!.</p>
    <p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="https://twitter.com/anibha88">@anibha88</a> or on the facebook at <a href="https://www.facebook.com/nithin.bharadhwaj"><i>Nithin Bharadhwaj</i></a>, and get my posts. You can also mail me <a href="mailto:anibha88@gmail.com">here</a>.</p>
  </div>
</div>